<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Paris</key>
	<string>Eiffel Tower</string>
	<key>Australia</key>
	<string>Great Barrier Reef</string>
	<key>Italy</key>
	<string>Leaning Tower of Pisa</string>
	<key>China</key>
	<string>Great Wall of China</string>
</dict>
</plist>
