<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Golden Phoenix</key>
	<array>
		<string>Sharp</string>
		<string>Bitter</string>
	</array>
	<key>Mao Shan Wang</key>
	<array>
		<string>Bitter</string>
		<string>Creamy</string>
		<string>Sticky</string>
	</array>
</dict>
</plist>
